/* --- Base Gruvbox Colors --- */
:root {
  --bg: #282828;
	--bg-alt: #504945;
  --fg: #ebdbb2;
	--fg-1: #ebdbb2;
  --fg-alt: #d5c4a1;
  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --purple: #d3869b;
  --aqua: #8ec07c;
  --gray: #928374;
}

/* --- Body --- */
body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: "Fira Sans", "Segoe UI", sans-serif;
  line-height: 1.5;
  max-width: 40em;
  margin: auto;
  padding: 1rem 2rem;
}

/* --- Headings --- */
h1, h2, h3, h4, h5, h6 {
  color: var(--fg1);
}

/* --- Links --- */
a {
  color: var(--blue);
  text-decoration: underline;
}

a:hover {
  color: var(--green);
}

.moe {
	color:var(--purple);
}

/* strong { */
/* 	color:var(--purple); */
/* } */


/* --- Code --- */
code {
  background-color: var(--gray);
  color: var(--fg);
  padding: 0.1em 0.2em;
  border-radius: 3px;
  font-family: "Fira Mono", monospace;
}


/* --- Microblog entries --- */
.micro-entry {
  border-bottom: 1px solid #504945;
  padding: 0.5rem 0;
}

/* --- Images --- */
img {
  max-width: 100%;
  border-radius: 5px;
}


nav a {
  margin-right: 1rem;
  text-decoration: none;
	color: var(--fg-alt);
}


blockquote {
	border-left: 3px solid var(--purple);
	padding-left: 1em;
}


#links-list {
}
.link-button {
	line-height: 1.2; /* clipboard symbol
	was making buttons taller than others */
	color: var(--fg);
	background-color: var(--bg-alt);
	font-size: 1.2em;
	/* font-size: 2.5em; */
	width: 40%;
	min-width: 12em;
	/* height: 20%; */
	padding: 0.5em 0vw;
	border-color: var(--border);
	border-style: inset;
	border-width: 2px;
	border-radius: 1px;
	box-shadow: 0 5px var(--bg-alt);
	cursor: pointer;
	/* margin: 2%; */
	margin: 0.5em;
}

.link-button:active {
	background-color: var(--bg-alt);
	box-shadow: 0 5px var(--bg);
	transform: translateY(4px);
}

