<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/css/gruvbox.css">
</head>
<body>
  <header>
		<span>
    <nav>
			<a href="/">lemma<span class="moe">.moe</span></a>
			<a href="/rat/">rationality</a>
      <a href="/suiri/">deduction</a>
      <a href="/micro/">shortform</a>
			<!-- <a href="/about/">about me</a> -->
			<a href="/about/">about <span class="moe">me</span></a>
    </nav>
  </header>

  <main>
    {{ block "main" . }}{{ end }}
  </main>
</body>
</html>

