<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{{ "favicon.png" | relURL }}" type="image/png">
	<meta charset="utf-8">
	<title>{{ .Title }}</title>
	<link rel="stylesheet" href="/css/main.css">
	<!--embeds-->
	<meta property="og:title" content="{{ .Title }} @lemma.moe">
	<meta property="og:description" content="{{ .Summary }}">
	<meta property="og:image" content="{{ .Params.images }}">
	<meta property="og:url" content="{{ .Permalink }}">
</head>
<body>
  <header>
    <nav>
			<a href="/">lemma<span class="moe">.moe</span></a>
			<!-- <a href="/rat/">rationality</a> -->
      <!-- <a href="/suiri/">deduction</a> -->
      <a href="/micro/">shortform</a>
			<!-- <a href="/about/">about me</a> -->
			<a href="/about/">about <span class="moe">me</span></a>
    </nav>
  </header>

  <main>
    {{ block "main" . }}{{ end }}
  </main>
</body>
</html>

