{{ define "main" }}
<a href="/micro/"><h1>Shortform</h1></a>

{{ $paginator := .Paginate .Pages }}

{{ range $paginator.Pages }}
<a href="{{ .RelPermalink }}">
  <article class="micro-entry">
    <div class="meta">
        {{ .Date.Format "2006-01-02 15:04" }}
    </div>
    {{ .Content }}
  </article>
</a>
{{ end }}

<nav>
  {{ if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}">Newer</a>
  {{ end }}

  {{ if $paginator.HasNext }}
    <a href="{{ $paginator.Next.URL }}">Older</a>
  {{ end }}
</nav>
{{ end }}

